---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Dilan Pauli" description="About Dilan Pauli">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
			<!-- TODO -->
				<!-- <img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Dilan Pauli at work with a colleague"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am originally from Humboldt Saskatchewan born and raised. Growing up I got interested 
						in technology by my Dad. He helped me build my first Linux computer and we mounted in parts on my bedroom wall. 
						After being the only person in my high school class to take the online computer science course I knew I wanted 
						to purse a career in computing. Taking Computer Engineering at the University of Saskatchewan was the obvious 
						choice for me. 
					</p>
					<p>
						After spending 4 years learning I was lucky to get a position at Delco Automation where I 
						worked on the beginnings of the IPFusion Software. Now I have my Professional Engineering 
						designation.
					</p>
					<p>
						I enjoy bike packing in the mountains, 3D printing with my Ender 3 V2, spending time on the lake with my 
						family, video games, and learning how to be a better golfer.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>I have attained a bachelor of science in Computer Engineering from the University of Saskatchewan.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						I am well versed in the area of software devlopment. I have a specality in C# and the dotnet framework, 
						having achived MCSD: App Builder and MCSA: Web Developer certifications from Microsoft. I also have dabled in 
						Python using computer vision and machine learning libraries. More recently I have been becoming versed in TypeScript/React 
						too create front end applications.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
